// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.events{
    grid-area: events-start / 1 / events-end / -1;
}
.products{
    grid-area: products-start / 1 / products-end / -1;
}
.upComingEvents{
    grid-area: timeline-start / 1 / timeline-end / -1;
}
.members{
    grid-area: team-start / 1 / team-end / -1;
}
.sponsors{
    grid-area: sponsors-start / 1 / sponsors-end / -1;
}
.hackaSocials{
    grid-area: hackaSocials-start / 1 / hackaSocials-end / -1;
}