// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Font family
$font-family: 'Fira Sans',' Tahoma';

// colors

$highlight: '#fec10b';

// dark

$dark: '#1f1f1f';

$text-color: 'white';

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
