doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='description', content='Hacka{Iran} is a local community of technologists. Our vision is to become Iran\'s leading futuristic services provider.')
    meta(name='author', content='HackaIran Team')
    meta(name='keywords', content='hackairan,hacka,هاکا,هاکاایران,hackateamup,hackademy,contest,hackadocs,nerdpitch,community,hackatehran,hackakaraj,developers')
    meta(name='robots', content='index,follow')
    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/favicon.ico" type="image/x-icon")
    link(href='https://fonts.googleapis.com/css?family=Fira+Sans', rel='stylesheet')
    link(rel='stylesheet', href='./stylesheets/main.css?c=1')
    title Hacka{Iran} | The Largest Community of Developers in Iran
  body
    #app.mainPage
    
    script(crossorigin,src="https://unpkg.com/react@16/umd/react.production.min.js")
    script(crossorigin,src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js")
    script(src='./javascripts/bundle.js')