@font-face{
    src: url('../../assets/fonts/BHoma_0.ttf');
    font-family:homa;
}
@font-face{
    src:url('../../assets/fonts/BZar_0.ttf');
    font-family:zar;
}
@font-face{
    src:url('../../assets/fonts/IranianSans.ttf');
    font-family:isans;
}
@font-face{
    src : url('../../assets/fonts/danstevis.otf');
    font-family:dastnevis;
}
@font-face{
    src : url('../../assets/fonts/Yekan.ttf');
    font-family:yekan;
}
@font-face{
    src : url('../../assets/fonts/Far_Morvarid.ttf');
    font-family:morvarid;
}
@font-face{
    src : url('../../assets/fonts/IranNastaliq.ttf');
    font-family:nastaliq;
}
@font-face{
    src : url('../../assets/fonts/vijaya.ttf');
    font-family:vijaya;
}
@font-face{
    src: url('../../assets/fonts/Far_Nazanin.ttf');
    font-family:nazanin;
}
@font-face{
    src:url('../../assets/fonts/Inconsolata.otf');
    font-family:inconsolata;
}