body {
    direction: rtl;
    font-family: isans;
}
* {
    font-family: isans;
}
#wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
/*rtSide*/
#rtSide {
    width: 500px;
    height: 100%;
    display: table;
    background-color: white;
    float: right;
    padding: 10px 20px 10px 20px;
    position: relative;
    padding-bottom: 50px;
}
#rtSide>header>h1 {
    width: 100%;
    font-family: homa;
}
#rtSide>header h1 {
    font-size: 30px!important;
}
#mainCont {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px dashed lightgray;
}
.infoBox {
    width: 100%;
    min-height: 40px;
    line-height: 40px;
    display: table;
}
#rtSide footer {
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom: 0px;
}
/*ltSide*/
#ltSide {
    width: calc(100% - 500px);
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    height: 100%;
    background-image: url('../../images/login.jpg');
    background-size: cover;
}
/*showables*/
#loading,#ajaxLoading {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    z-index: 100000000;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
#ajaxLoading {
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
}
#loading>div,#ajaxLoading>div {
    position: fixed;
    width: 200px;
    height: 100px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}
#loading>div>span,#ajaxLoading>div>span {
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
}
#loading>div>div,#ajaxLoading>div>div {
    direction: ltr;
    width: 50px;
    height: 50px;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}