@media only screen and (max-width: 600px) {
    #eventDescriptionCont > p {
        display: none;
    }

    #eventBtn {
        top: auto;
        bottom: 0px;
    }

    #headerIntro > p {
        padding: 0px 5px 0px 5px;
    }

	#eventDescriptionCont > h2{
		font-size:26px!important;
	}

    #eventDescriptionCont{

        padding: 40px 30px!important;

    }
 
}

@media only screen and (max-width: 1050px) {
    #eventSection > div > aside {
        display: none;
    }
}