// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
    background: black;
    width: 100%;
    position: relative;
    margin-top: -0.5rem;
    overflow: hidden;

    grid-area: header-start / 1 / header-end / -1;

    .header__video{
        
        @include absolute-center;

        min-width: 100%;
        min-height: 100%;
        z-index: 1;
    }

    .header__gradient{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.85), #000);
        z-index: 2;
    }

    .header__content-wrapper{
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 55rem;
        text-align: center;
        z-index: 3;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);

    }

    .header__logo{
        width: 18rem;
        pointer-events: none;
        user-select: none;
    }

    .header__title{
        color: white;
        font-size: 4.5rem;
        font-weight: normal;
        margin: 0;
        margin-bottom: 2.5rem;
        pointer-events: none;
        user-select: none;
    }

    .header__description{
        color: white;
        font-size: 1.8rem;
        font-weight: 100;
        line-height: 2.5rem;

        @media screen and (max-width: 750px) {
            
            padding-right: 20px;
            padding-left: 20px;
    
        }

    }

    .header__arrow-down{
        position: absolute;
        bottom: 16%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
    }

    .header__arrow-down:after, .header__arrow-down:before {
        content: ' ';
        position: absolute;
        width: 15px;
        height: 2px;
        border-radius: 10px;
        background: white;
    }
    .header__arrow-down:after {
        transform: translate(-50%, -50%) rotate(45deg) translateX(-50%) translateX(1px);
    }
    .header__arrow-down:before {
        transform: translate(-50%, -50%) rotate(-45deg) translateX(50%) translateX(-1px);
    }

}