

.product{
    width: 100%;

    background: black;

    grid-area: products-start / 1 / products-end / -1;
    
    .product__header-title{
        color: white;
        text-align: center;
        font-size: 2.5rem;
    }

    @import './sub-components/single-product';

}