@import './sub-components/fixed-image';

.questionAnswer{

    margin-top: 1rem;

    grid-column: 2 / 12;

    display: flex;
    flex-direction: column;

    align-items: flex-start;

    &__question{

        text-transform: capitalize;

        color: $highlight;
        border-bottom: 0.2rem solid $highlight;

        padding-bottom: 1.6rem;
        padding-top: 1.6rem;

        padding-right: 4rem;

        font-size: 2.4rem;

    }

    &__answer{

        text-transform: capitalize;

        font-size: 2.4rem;

        padding: 1.6rem 0;

    }

}