.single-product{
    width: 100%;
    min-height: 20rem;

    display: flex;
    flex-direction: column;

    .single-product__top-gradient{
        flex-basis: 0.2rem;
        width: 100%;
    }

    &.odd{

        .single-product__content-wrapper{

            background: linear-gradient(to right, transparent, black 55%), url($base-url+'/images/eventBack.jpg');
            
            background-position: left;
            background-size: 100% auto;
            background-repeat: no-repeat;
            transition-duration: 0.3s;

            &:hover{
                transition-duration: 0.3s;
                background-size: 105% auto;
            }

        }

        .single-product__description-wrapper{
            margin-left: auto;
            padding-right: 6rem;
        }

        .single-product__content-wrapper{
            flex-direction: row-reverse;
        }

    }

    &.even{

        .single-product__content-wrapper{

            background:linear-gradient(to left, transparent, black 55%), url($base-url+'/images/eventBack.jpg');
            background-position: right;
            background-size: 100% auto;
            background-repeat: no-repeat;

            transition-duration: 0.3s;

            &:hover{
                transition-duration: 0.3s;
                background-size: 105% auto;
            }

        }

        .single-product__description-wrapper{
            margin-right: auto;

            padding-left: 6rem;

        }

        .single-product__content-wrapper{
            flex-direction: row;
        }
    }

    
    .single-product__content-wrapper{
        flex: 1;
        display: flex;

        @media screen and (max-width: 750px) {

            background-size: cover!important;

        }
        
        .single-product__description-wrapper{

            @media screen and (max-width: 750px) {
            
                width: 100%;
                padding-right: 20px;
                padding-left: 20px;

                background-size: cover;
    
            }

            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;

            padding-top: 5rem;
            padding-bottom: 6rem;

            &>h3{
                font-size: 3.6rem;
                margin-bottom: 0.5rem;

                @media screen and (max-width: 750px) {
                    font-size: 46px;
                    text-align: center;
                }

            }

            
            &>p{
                font-size: 1.8rem;
                margin-top: 1rem;

                @media screen and (max-width: 750px) {
                    text-shadow: 0 0 30px #000;
                    padding: 20px;
                    margin-bottom: 20px;

                    line-height: 29px;

                }

            }

            &>.single-product__more-button{
                align-self: flex-end;
                background-color: $highlight;
                color: black;
                font-size: 1.7rem;
                padding: 0.7rem 3rem;
                transition-duration: 0.3s;
                text-decoration: none;

                @media screen and (max-width: 750px) {
                    align-self: center;
                    padding: 17px 40px;
                }

                &:active{
                    transition-duration: 0.3s;
                    transform: scale(0.95);
                }

                &:hover{
                    transition-duration: 0.3s;
                    background-color: darken($highlight, 15);
                }

            }

        }

    }
    

}