.single-event{
    width: 100%;
    min-height: 20rem;

    display: flex;
    flex-direction: column;

    &:nth-of-type(odd){

        .single-event__content-wrapper{

            background: linear-gradient(to right, transparent, black 55%), url($base-url+'/images/eventBack.jpg');
            
            background-position: left;
            background-size: contain;
            background-repeat: no-repeat;

        }

        .single-event__description-wrapper{
            margin-left: auto;
            padding-right: 5rem;
        }

        .single-event__content-wrapper{
            flex-direction: row-reverse;
        }

    }

    &:nth-of-type(even){

        .single-event__content-wrapper{

            background:linear-gradient(to left, transparent, black 55%), url($base-url+'/images/eventBack.jpg');
            background-position: right;
            background-size: contain;
            background-repeat: no-repeat;

        }

        .single-event__description-wrapper{
            margin-right: auto;

            padding-left: 5rem;

        }

        .single-event__content-wrapper{
            flex-direction: row;
        }
    }

    
    .single-event__content-wrapper{
        flex: 1;

        .single-event__description-wrapper{

            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;

            padding-top: 5rem;
            padding-bottom: 5rem;

            &>h3{
                font-size: 3.8rem;
                margin-bottom: 0rem;
            }

            &>p{
                font-size: 1.8rem;
                margin-top: 1rem;
            }

            &>.single-event__more-button{
                align-self: flex-end;
                background-color: $highlight;
                color: black;
                font-size: 1.7rem;
                padding: 0.7rem 3rem;
                transition-duration: 0.3s;
                text-decoration: none;

                &:active{
                    transition-duration: 0.3s;
                    transform: scale(0.95);
                }

                &:hover{
                    transition-duration: 0.3s;
                    background-color: darken($highlight, 15);
                }

            }

        }

    }
    

}